/* .project-card {
  border: 1px solid black;
  width: 20vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  pointer-events: none;
} */

@media (max-width: 424px) {
  .Full-Stack-Web-App {
    width: 97%;
    height: 440px;
  }

  .Game {
    width: 97%;
    height: 440px;
  }

  .Codepen {
    width: 97%;
    height: 440px;
  }

  .Proof-of-Concept {
    width: 97%;
    height: 440px;
  }

  /* .proof-of-concept :hover{
  
} */

  .project-card-link {
    text-decoration: none !important;
    border: none;
  }

  .project-card-link :hover {
    background: rgba(136, 159, 159, 0.9);
  }

  .project-card-h1 {
    pointer-events: none;
  }

  .project-card-category {
    pointer-events: none;
  }

  .project-card-image {
    width: 300px;
    height: 145px;
    margin-left: 1px;
  }

  .project-card-description {
    pointer-events: none;
    pointer-events: none;
    margin: 6px 0;
    font-size: 16px;
  }

  .project-card-list {
    pointer-events: none;
    font-size: 18px;
    font-weight: bold;
  }

  .project-cart-technologies {
    pointer-events: none;
    text-align: center;
    font-size: 18px;
    margin: 10px;
    padding: 0px 19px;
  }

  /* FOR RAINBOW DAY ONLY */

  .project-card-image-rainbow {
    pointer-events: none;
    border: 2px solid black;
    width: 300px;
    height: 135px;
    background-color: white;
    margin: 0 auto;
    margin-left: 1px;
  }

  .color-bar {
    /* TUESDAY MOBILE */
    width: 66%;

    /* WEDNESDAY MOBILE*/
    /* width: 75.6%; */

    /* THURSDAY MOBILE*/
    /* width: 67%; */

    /* FRIDAY MOBILE*/
    /* width: 57%; */

    /* SATURDAY MOBILE */
    /* width: 69%; */

    /* SUNDAY MOBILE */
    /* width: 62%; */

    margin: 15% auto;
    background: linear-gradient(
      to right,
      red,
      orange,
      #fde541,
      green,
      blue,
      indigo,
      violet
    );
    -webkit-background-clip: text;
  }

  .black-bar {
    pointer-events: none;
    background: black;
    -webkit-background-clip: text;
    animation: loading 15s infinite;
  }

  #day {
    pointer-events: none;
    white-space: nowrap;
    position: static;
    color: transparent;
  }

  @keyframes loading {
    from {
      left: 0;
      width: 100%;
    }
    2% {
      left: 0;
      width: 100%;
    }
    6% {
      left: 0;
      width: 0;
    }
    22% {
      left: 0;
      width: 0;
    }
    24% {
      left: 0;
      width: 100%;
    }
    100% {
      left: 0;
      width: 100%;
    }
  }

  /* END OF RAINBOW DAY */

  /* FOR CANVAS BUBBLES ONLY */

  .project-card-image-bubbles {
    pointer-events: none;
    border: 2px solid black;
    width: 300px;
    height: 135px;
    background-color: white;
    margin: 0 auto;
    margin-left: 1px;
  }

  /* EACH DAY CSS */

  /* EACH DAY RAINBOW */

  .Monday {
    width: 42%;
    margin: 15% auto;
    background: linear-gradient(
      to right,
      red,
      orange,
      #fde541,
      green,
      blue,
      indigo,
      violet
    );
    -webkit-background-clip: text;
  }

  .Tuesday {
    width: 66%;
    margin: 15% auto;
    background: linear-gradient(
      to right,
      red,
      orange,
      #fde541,
      green,
      blue,
      indigo,
      violet
    );
    -webkit-background-clip: text;
  }

  .Wednesday {
    width: 79.6%;
    margin: 15% auto;
    background: linear-gradient(
      to right,
      red,
      orange,
      #fde541,
      green,
      blue,
      indigo,
      violet
    );
    -webkit-background-clip: text;
  }

  .Thursday {
    width: 67%;
    margin: 15% auto;
    background: linear-gradient(
      to right,
      red,
      orange,
      #fde541,
      green,
      blue,
      indigo,
      violet
    );
    -webkit-background-clip: text;
  }

  .Friday {
    width: 57%;
    margin: 15% auto;
    background: linear-gradient(
      to right,
      red,
      orange,
      #fde541,
      green,
      blue,
      indigo,
      violet
    );
    -webkit-background-clip: text;
  }

  .Saturday {
    width: 69%;
    margin: 15% auto;
    background: linear-gradient(
      to right,
      red,
      orange,
      #fde541,
      green,
      blue,
      indigo,
      violet
    );
    -webkit-background-clip: text;
  }

  .Sunday {
    width: 62%;
    margin: 15% auto;
    background: linear-gradient(
      to right,
      red,
      orange,
      #fde541,
      green,
      blue,
      indigo,
      violet
    );
    -webkit-background-clip: text;
  }
}
