.App {
  font-family: 'roboto';
}
@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2:800&display=swap');

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

body {
  padding-top: 47px;
}

div {
  font-size: 20px;
}

p {
  margin-left: 4em;
}

/* HEADER */

.header {
  /* background-color: #002145; */
  /* background-color: #192e6c; */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* HOME PAGE */

.home-bg {
  height: 300vh;
}

.link {
  margin-left: 15em;
}

.link a {
  text-decoration: #ff8500;
  color: hsl(31, 100%, 39%);
  background-color: hsl(31, 85%, 73%);
  border-style: solid;
  border-color: #ff8500;
  border-width: 2px;
}

.home-top {
  background-color: #0091a0;
  color: #f7f4f4;
  height: 90vh;
  width: 100%;
  transform: skewY(-5deg);
  margin-top: -16vh;
  padding: 0;
}

.home-top h1 {
  font-size: 7em;
  padding-left: 0.6em;
  padding-top: 0.8em;
  padding-right: 50%;
  margin-bottom: 0;
  padding-bottom: 0;
  transform: skewY(5deg);
}

.home-fade1 {
  height: 2vh;
  width: 100%;
  background-color: #a2d7dc;
  transform: skewY(-5deg);
  margin-top: -1vh;
}

.home-fade2 {
  height: 1vh;
  width: 100%;
  background-color: #e1e3e5;
  /* margin-top: -1vh; */
}

.home-about {
  height: 60vh;
  background-color: #909a9f;
}

.home-about h1 {
  font-size: 4.25em;
  margin-left: 1.25em;
}

.home-projects {
  font-size: 2em;
  padding-top: 3em;
  height: 110vh;
}

.home-projects h1 {
  font-size: 2em;
  margin-left: 1.4em;
}

.home-contact {
  height: 75vh;
}

.home-contact h1 {
  font-size: 4.5em;
  margin-left: 1em;
}

/* .home-slant {
  background-color: #0091a0;
  height: 28vh;
  transform: skewY(-5deg);
  padding: 0;
  margin: 10vh 0 0 0;
  z-index: -1;
} */

/* ABOUT PAGE */

.about {
  background-color: #0091a0;
  color: #f7f4f4;
  height: 104vh;
  margin-top: -3em;
  padding-top: 3em;
}

/* PROJECTS PAGE */

.projects {
  background-color: #0091a0;
  color: #f7f4f4;
  height: 104vh;
  margin-top: -3em;
  padding-top: 3em;
}

/* CONTACT PAGE */

.contact-page {
  background-color: #0091a0;
  color: #f7f4f4;
  height: 104vh;
  margin-top: -3em;
  padding-top: 3em;
}

.contact-page h1 {
  margin: 1em;
}

/* COLOR SCHEME */

.container-fluid {
  height: 500px;
}
.row {
  height: 500px;
}

.s-blue {
  background-color: #002145;
}

.s-gray {
  background-color: #a5acaf;
}

.s-green {
  background-color: #66c010;
}

.d-aqua {
  background-color: #0091a0;
}
.d-orange {
  background-color: #ff8500;
}
.d-dark-blue {
  background-color: #002760;
}

.c-blue {
  background-color: #0c264c;
}

.c-gray {
  background-color: #b0b7bc;
}

.c-white {
  background-color: #ffffff;
  color: #000000;
}

.g-blue {
  background-color: #192e6c;
}

.g-red {
  background-color: #b20032;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.individual-link {
  margin: 0 1em;
}

a {
  text-decoration: none;
  font-family: 'Exo 2';
  color: #66c010;
  text-shadow: 1px 1px 1px #002145;
}

a:hover {
  color: #66c010;
  text-shadow: 1px 0 10px #8c187b;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  text-decoration: none;
}

.logo {
  /* display: flex; */
  color: #74d21c;
  /* margin-right: auto; */
  /* position: static; */
  padding: 0px 5px;
  font-size: 1.35em;
  border-style: solid;
  border-color: #74d21c;
  /* border-color: #ffffff; */
  border-width: 2px;
  /* margin-top: 2px; */
  margin: 5px auto 5px 8px;
}
