:root {
  --off-black: #131313;
  --off-white: #f2eeee;
}

.App {
  font-family: 'roboto';
}
@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo+2:800&display=swap');

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

/* .App-link {
  color: #61dafb;
} */

body {
  padding-top: 47px;
}

div {
  font-size: 20px;
}

p {
  margin-left: 4em;
  color: var(--off-black);
}

/* HEADER */

.header {
  background-color: #0091a0;
  /* background-color: #192e6c; */
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.header a {
  text-decoration: none;
  font-family: 'roboto';
  color: white;
  text-shadow: 1px 1px 1px #002145;
  font-size: 1.1em;
}

/* HOME PAGE */

.home-bg {
  height: 300vh;
}

.link {
  margin-left: 15em;
}

.link a {
  text-decoration: #ff8500;
  color: hsl(31, 100%, 39%);
  background-color: hsl(31, 85%, 73%);
  border-style: solid;
  border-color: #ff8500;
  border-width: 2px;
}

.home-top {
  background-color: #0091a0;
  height: 86vh;
  width: 100%;
  transform: skewY(-5deg);
  margin-top: -5vh;
  padding: 0;
}

.home-top h1 {
  text-align: center;
  color: var(--off-white);
  font-size: 5em;
  padding-left: 0.6em;
  padding-top: 0.8em;
  margin-bottom: 0;
  padding-bottom: 0;
  transform: skewY(5deg);
  text-shadow: 1px 1px 1px #007783;
}

.home-fade1 {
  height: 2vh;
  width: 100%;
  background-color: #a2d7dc;
  transform: skewY(-5deg);
  margin-top: -1vh;
}

.home-fade2 {
  height: 1vh;
  width: 100%;
  background-color: #e1e3e5;
  /* margin-top: -1vh; */
}

.home-about {
  height: 105vh;
  background: url('./components/images/pics/album-pics/thumbnail-3.jpg')
    no-repeat;
  background-size: 100% auto;
  background-position: 0 -30vh;
  /* background-repeat: no-repeat; */
  /* background-color: #909a9f; */
}

.home-about h1 {
  color: var(--off-white);
  font-size: 4.25em;
  margin-left: 1.25em;
}

.home-projects {
  font-size: 2em;
  padding-top: 1em;
  height: 110vh;
}

.home-projects h1 {
  color: var(--off-black);
  font-size: 2em;
  text-align: center;
}

.home-contact {
  height: 50vh;
}

.home-contact h1 {
  font-size: 4.5em;
  margin-left: 1em;
  color: var(--off-white);
}

/* ABOUT PAGE */

.about {
  /* background-color: #0091a0; */
  background-color: #1c7787;
  color: var(--off-white);
  /* height: 92.9vh; */
  height: 125vh;
  overflow: hidden;
  margin-top: 1em;
  padding-top: 3em;
  text-align: center;
}

.about p {
  color: var(--off-white);
}

/* .about h4 {
  text-align: center;
} */

.about ul > li {
  list-style: none;
  font-size: 1em;
  /* text-align: center; */
}

/* PROJECTS PAGE */

.projects {
  background-color: #1c7787;
  color: var(--off-white);
  height: 104vh;
  /* margin-top: -3em; */
  padding-top: 3em;
}

.project-box {
  display: flex;
  justify-content: space-around;
}

.projects-title {
  text-align: center;
}

/* CONTACT PAGE */

.contact-page {
  background-color: #1c7787;

  color: var(--off-white);
  height: 101.4vh;
  overflow: hidden;
  margin-top: -3em;
  padding-top: 3em;
}

.contact-page h1 {
  margin: 1em;
}

.contact-center {
  text-align: center;
}

.or {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: var(--off-white);
}

/* COLOR SCHEME */

.container-fluid {
  height: 500px;
}
.row {
  height: 500px;
}

.s-blue {
  background-color: #002145;
}

.s-gray {
  background-color: #a5acaf;
}

.s-green {
  background-color: #66c010;
}

.d-aqua {
  background-color: #0091a0;
}
.d-orange {
  background-color: #ff8500;
}
.d-dark-blue {
  background-color: #002760;
}

.c-blue {
  background-color: #0c264c;
}

.c-gray {
  background-color: #b0b7bc;
}

.c-white {
  background-color: #ffffff;
  color: #000000;
}

.g-blue {
  background-color: #192e6c;
}

.g-red {
  background-color: #b20032;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.individual-link {
  margin: 0 1em;
}

.logo {
  /* display: flex; */
  color: white;
  /* margin-right: auto; */
  /* position: static; */
  /* text-shadow: 1px 1px 1px white; */
  padding: 1px 6px;
  font-size: 1.35em;
  font-weight: bold;
  border-style: solid;
  border-color: White;
  /* border-color: #ffffff; */
  border-width: 2px;
  /* box-shadow: 1px 1px white; */
  /* margin-top: 2px; */
  margin: 20px auto 20px 15px;
}

.react {
  animation-name: spin;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table,
th,
td {
  border: 2px solid black;
}

td {
  font-size: 2em;
}

#table-div {
  display: flex;
  justify-content: center;
}

.icons {
  margin-bottom: 1.1vh;
}

/* .express {
  font-family: helvetica-neue;
} */

.about-side-one {
  padding-right: 3em;
  border-right: 1px solid black;
  height: 75vh;
}

.about-side-2 {
  margin-left: -2em;
}

.about-my-life {
  margin: 1em 0 2em;
}
