@media(max-width: 768px){
 
.greeting{
  padding-left: 0 !important;
  padding-top: 15vh !important;
  font-size: 4em !important;
}

}

@media(max-width:500px){

.greeting{     
  font-size: 2em !important;
}

.home-projects h1{
  font-size: 1em !important;
}

.home-projects h3{
  font-size: 1em !important;
}

.home-about h1{
  font-size: 1em !important;
}

}
