/* @media(max-width: 768px){
 
.greeting{
  padding-left: 0 !important;
  padding-top: 12vh !important;
  font-size: 4em !important;
}

}

@media(max-width:500px){

.greeting{     
  font-size: 3em !important;
}

}


@media(max-width:320px){

.greeting{     
  font-size: 2.70em !important;
}

} */